<!DOCTYPE html>
<html ng-app="FuneSysApp">
  <head>
  	<meta charset="utf-8">
    
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    
    <script type="text/javascript" src="../lib/angular/angular.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/value/configValue.js"></script>
    <script src="../js/controllers/dividaCtrl.js"></script>
    <script src="../js/services/faturaService.js"></script>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body ng-controller="DividaCtrl">
  	<div class="had-container">
	  	<div ng-include="'components/navbar.html'"></div>
	  	<div class="section">
	  		<div class="row">
	  			<div class="col s12">
					
				</div>
	  		</div>
	  		<div class="row">
	  			<div class="col s12">
		  			<table class="bordered highlight responsive-table">
						<thead>
							<tr>
								<th data-field="id">Associado</th>
								<th data-field="valor">Valor</th>
								<th data-field="status">Status</th>
								<th>Excluir</th>
							</tr>
						</thead>
			
						<tbody>
							<tr ng-repeat="fatura in faturas">
								<td>{{fatura.divida.associado.nome}}</td>
								<td>{{fatura.valor}}</td>
								<td>{{fatura.pagamento != null ? 'Pago' : 'Pendente'}}</td>
								<td><a ng-click="delete(fatura)" href="#"><i class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>
	  			</div>
	  		</div>
  		</div>
  	</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
</body>
</html>